[loggers]
keys=root, log02

[logger_root]
level=DEBUG
handlers=console, rotatingFile

[logger_log02]
handlers=console, rotatingFile
qualname=log02
propagate=0

##############################

[handlers]
keys=console, rotatingFile

[handler_console]
class=StreamHandler
level=DEBUG
formatter=format
args=(sys.stderr,)

[handler_rotatingFile]
class=handlers.RotatingFileHandler
level=INFO
formatter=format
args=('addPDFBookmark.log', 'a', 10*1024*1024, 7)

##############################

[formatters]
keys=format

[formatter_format]
format=%(asctime)s %(name)s %(thread)d %(threadName)s %(module)s %(filename)s %(funcName)s [line: %(lineno)d] %(levelname)s: %(message)s
datefmt=%Y-%m-%d %H:%M:%S
